@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width: 95%;
  margin-inline: auto;
}

body {
  overflow-x: hidden;
}

button {
  background: gray;
  color: white;
  border-radius: 5px;
  font-weight: 500;
  padding: 0.8em;

  transition: all 0.5s;
}

button:hover {
  opacity: 0.9;
}

img {
  max-width: 100%;
}

#aside.show {
  width: 70%;
}

input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5em;

  @apply text-stone-700;
}

label {
  @apply text-stone-600;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
}

@layer components {
  .form-group {
    @apply flex flex-col gap-2;
  }
}
